.container{
  max-width: 1200px;
  margin: 0 auto;
}
.flex{
  display: flex;
}
.a-center{
  align-items: center;
}
.j-between{
  justify-content: space-between;
}
.j-center{
  justify-content: center;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.loading{
  width: 100%;
  height: calc(100vh - 115px);
}